:root {
    --primary-color: #902724;
    --secondary-color: #f23c27;
    --tertiary-color: #f7d281; 
    --quaternary-color: #1b729f; 
    --quinary-color: #1a323e; 
}

body,html {
    height: 100%; 
}

.jumbotron {
    height: 100%; 
    background-color: var(--primary-color);
    background-image: url("https://37.media.tumblr.com/tumblr_mbha9qWF401qcixnko4_500.gif");  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
}


#homepage {
    height: 100%; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}



#titlebox {
    height: 100%; 
    background-color: var(--primary-color);
    color: white; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    animation: fadein 2s; 
    -webkit-animation: fadein 2s;
}

.introhead {
    margin-top: 15%;
    align-items: center;
    font-weight: bold;
    font-size: 75px;
   text-transform: uppercase; 
    
}

#titlebox h1 {
    background-color: white; 
    overflow: hidden;
    display:inline-block;
    padding: 10px; 
    font-weight: bold;
    color: transparent; 
    font-size: 100px; 
}

span {
    background: url("https://37.media.tumblr.com/tumblr_mbha9qWF401qcixnko4_500.gif"); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    display: block; 
}

#titlebox p {
    text-align: center;
    font-size: 35px; 
    font-weight: 100; 
}

#searchbar {
    background-color: var(--primary-color);
    align-items: center;
    
}

#textbox {
    font-size: 25px; 
    padding: 20px; 
}

#searchbtn {
   
    font-size: 20px; 
    background-color: var(--primary-color);
    color: black;
    border: 2px solid black; 
    

}

#searchbtn:hover {
   
    background-color: var(--quinary-color); 
    color: white; 
    border: 2px solid var(--quinary-color); 
}

a {
    text-decoration: none; 
    color: black;
}

a:hover {
    text-decoration: none; 
    color: white; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color:var(--quinary-color);
    background-color: rgb(26,50,62,0.5); 
}

.modal-content {
    background-color:#0C1446; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 80%; 
}

.close {
    color: #aaa; 
    float: right;
    font-size: 28px; 
    font-weight: bold;
}

.close:hover , .close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer; 
}

@keyframes fade-in {
    from {
        opacity:0;
      
    }
    to{
        opacity:1; 
      
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
      
    }
     to {
        opacity: 1;
     
     }
}

/* end of homepage css */ 

/* start of unique character index css */ 

header {
    padding: 20px 0; 
    background-color: var(--tertiary-color); 
}

header a {
    text-decoration: none; 

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    color: var(--quaternary-color); 
}

header nav ul li a {
    color: var(--quaternary-color); 
    padding: 10px 15px; 
    font-weight: lighter; 
    font-size: 1.55vw; 
    border: 3px solid var(--quinary-color); 
    background-color: var(--quinary-color); 
    

}

header nav ul li a:hover {
    background-image: url("wolverinehulk.png"); 
    font-weight: bold;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    display: block; 
    letter-spacing: 1em; 
}