:root {
    --primary-color: #902724;
    --secondary-color: #f23c27;
    --tertiary-color: #f7d281; 
    --quaternary-color: #1b729f; 
    --quinary-color: #1a323e; 
}

body /*or jumbotron, depends on html structure */ {
    /* LOADING text flipped like at the begging of marvel movie
    played before page loads*/
    background-color: var(--quinary-color);
    
}